html {
    box-sizing: border-box;
    border: 1px solid #000;
    text-align: center;
    padding: 10px;
    background-color: #eee;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

header {
    width: 1000px;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    padding-left: 250px;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    width: 1000px;
    height: 200px;
    transition: opacity 1s ease;
}

header img:nth-child(1) {
    animation: panRight 5s linear;
    animation-delay: 0s;
    opacity: 1;
}

header img:nth-child(2) {
    animation: zoomIn 10s forwards;
    animation-delay: 14s;
    opacity: 0;
}

.header-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: white;
    font-size: 64px;
    font-family: fantasy;
    animation: fadeInText 2s 5s forwards, changeColour 4s 4 alternate, fadeOutText 2s 12s forwards;
}

.name-id {
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: white;
    font-size: 18px;
    animation: fadeInText 2s forwards;
    animation-delay: 20s;
}

.second-text {
    position: absolute;
    top: 20%;
    left: 40%;
    opacity: 0;
    color: green;
    font-size: 64px;
    font-family: fantasy;
    animation: slideIn 5s forwards;
    animation-delay: 15s;
}

@keyframes fadeInText {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOutText {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes slideIn {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes changeColour {
    0% { color: blue; }
    50% { color: red;}
    100% { color: white; font-size: 48px; font-family: monospace;}
}

@keyframes panRight {
    0% { transform: translateX(-100%); opacity: 1; }
    100% { transform: translateX(0); opacity: 1; }
}
@keyframes zoomIn {
    0% { transform: scale(1.2); opacity: 1; }
    100% { transform: scale(1); opacity: 1; }
}

nav {
    background-color: forestgreen;
    height: 50px;
    padding-top: 5px;
    margin: 16px 0px;
}

aside {
    background-color: rgb(255, 111, 0);
    width: 30%;
    display: block;
    float: left;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.image-container {
    width: 300%;
    height: 100%;
    display: flex;
    position: absolute;
    overflow: hidden;
    animation: slideImages 20s forwards;
}

.image-container img {
    width: 33.33%;
    height: 100%;
    object-fit: cover;
}

.image-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: black;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.5s ease; 
}

#text1 {
    position: absolute;
    top: 30%;
    left: 40%;
    opacity: 0;
    color: black;
    font-size: 18px;
    animation: fadeInText 2s forwards;
    animation-delay: 0s;
}

#text2 {
    position: absolute;
    top: 30%;
    left: 40%;
    opacity: 0;
    color: black;
    font-size: 18px;
    animation: fadeInText 2s forwards;
    animation-delay: 5s;
}

#text3{
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: black;
    font-size: 18px;
    animation: fadeInText 3s forwards;
    animation-delay: 10s;
}

#text4 {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: black;
    font-size: 18px;
    animation: fadeInText 3s forwards;
    animation-delay: 18s;
}

@keyframes slideImages {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


aside a {
    display: block;
    height: 100%;
    color: inherit;
}

.name-id2 {
    position: absolute;
    top: 90%;
    left: 75%;
    transform: translate(-50%, -50%);
    opacity: 0;
    color: black;
    font-size: 18px;
    animation: fadeInText 3s forwards;
    animation-delay: 18s;
}

main {
    width: 70%;
    display: block;
    float: left;
    height: 500px;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

*::before, *::after {
    content: "";
    display: table;
    clear: both;
}

html,body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #000;
    background-color: #f1f1f1;
}

body {
    margin-top: 0;
}

section {
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 16px;
    border-radius: 0.5em;
    margin: 8px 8px 16px 8px;
}

article {
    padding: 4px;
    margin: 4px;
    border-radius: 0.5em;
}

h1, h2, h3 {
    text-align: center;
}

nav {
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
    margin: 0px 0px 16px 0px;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}


.underline {
    border-bottom: 1px solid #d0d0d0;
}

nav a {
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #206E32;
    color: #fff;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.container-half {
    padding: 8px;
    width: 48%;
    margin: 1%;
    float: left;
    box-sizing: inherit;
    text-align: center;
    min-height: 300px;
    min-width: 500px;
}

.container-third {
    padding: 8px;
    width: 31.33333%;
    margin: 1%;
    float: left;
    box-sizing: inherit;
    text-align: center;
    min-height: 200px;
}

.center {
   margin-left: auto;
   margin-right: auto; 
}

.card {
    border: 1px solid #adadad8a;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.062);
    position: relative;
}

.card-title {
    position: absolute;
    top: -12px;
    left: 20px;
    background-color: #fff;
}

progress {
    margin-top: 20px;
    width: 78%;
    background-color:darkgray;
    height: 20px;
    border-radius: 0.5em;
}

progress::-moz-progress-bar,progress::-webkit-progress-value {
    background-color:#206E32;
}

.form-page {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
    width: 80%;
}
.form-page .row {
    width: 100%;
    float: left;
    padding: 8px 8px 2px 0px;
    text-align: left;
    vertical-align: middle;
}

.form-page label input[type="text"] {
    width: 70%;
    float: right;
    line-height: 150%;
}

.form-page label input[type="radio"] {
    vertical-align: middle;
    margin-top: -1px;
}

.form-page button {
    padding: 4px 8px;
    margin: 8px;
    width: 25%;
}

.form-page button.next {
    float: right;
}

.form-page button.previous {
    float: left;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    margin-top: 20px;
}

thead {
    color:#fff;
    background-color: #206E32;
}

th {
    padding: 8px 8px 8px 16px;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
}

td {
    text-align: center;
}