#adWrapper {
    width: 400;
    height: 800;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
}

#adScene1Background img{
    position: absolute;
    height: auto;
    left: auto;
    top: -60px;

}

#adScene1Line1 {
    left: -30px;
    top: 80px;
    color: white;
    font-size: 46;
    position: absolute;
}